body {
  background-color: #333;
  color: white;
  font-family: arial, sans-serif;
}
input{
  background-color: #666;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  font-size: 1em;
}
button{
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  font-size: 1em;
  transition-duration: .2s;
}
button:hover{
  background-color: #999;
  color: #000;
}
